<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core Data Persistance.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>377DC85E1D48AA1700B486E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377DC87A1D48AA1700B486E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>377DC8851D48AA1700B486E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
